/* Navigation */
* {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}

body {
  font-family: Roboto, sans-serif;
}

img.logo {
  border: 0px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 50px;
  height: 50px;
}

/* RESPONSIVE DESIGN FOR MOBILE LANDSCAPE */

@media (max-width: 767px) {
  .topnav {
    float: right;
    font-size: 22px;

    padding-top: 40px;
    margin-right: -650px;
  }
}

/* Introduction */
/* Introduction */
/* Introduction */
/* Introduction */
/* Introduction */

@media only screen and (max-width: 767px) {
  .intro_dec {
    font-size: 65px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 100px;
    margin-left: 500px;
    margin-right: -200px;
    margin-bottom: 50px;
  }
}

/* Prologue */
/* Prologue */
/* Prologue */

@media only screen and (max-width: 767px) {
  .prologuedescription {
    font-size: x-large;
    max-width: 700px;

    margin-left: 400px;
    margin-right: -400px;
  }

  .prologuespan2 {
    margin-left: 820px;
    margin-right: -550px;
    margin-bottom: 200px;
  }
}

/* PROLOGUE FINISHED FROM HERE */
/* PROLOGUE FINISHED FROM HERE */
/* PROLOGUE FINISHED FROM HERE */
/* PROLOGUE FINISHED FROM HERE */
/* PROLOGUE FINISHED FROM HERE */

/* INTRODUCTION OF CLIENT'S COMPANY */
/* INTRODUCTION OF CLIENT'S COMPANY */
/* INTRODUCTION OF CLIENT'S COMPANY */
/* INTRODUCTION OF CLIENT'S COMPANY */
/* INTRODUCTION OF CLIENT'S COMPANY */

@media only screen and (max-width: 767px) {
  .televu {
    font-size: 55px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 100px;
    margin-left: 350px;
    margin-right: -300px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .televu_intro {
    font-size: x-large;
    max-width: 700px;

    margin-left: 350px;
    margin-right: -400px;
  }

  .televuintrospan {
    font-size: 12px;
    position: absolute;

    margin-top: -10px;
    margin-left: 880px;
    margin-right: -550px;
  }
}

/* USED CASE 1 - Emergency Response Team */
/* USED CASE 1 - Emergency Response Team */
/* USED CASE 1 - Emergency Response Team */

@media only screen and (max-width: 767px) {
  .introquote {
    font-size: 35px;

    margin-top: 150px;
    margin-left: 250px;
    margin-right: -450px;
  }
}

/* INTRODUCTION OF CLIENT'S COMPANY FINISHED HERE */
/* INTRODUCTION OF CLIENT'S COMPANY FINISHED HERE */
/* INTRODUCTION OF CLIENT'S COMPANY FINISHED HERE */
/* INTRODUCTION OF CLIENT'S COMPANY FINISHED HERE */
/* INTRODUCTION OF CLIENT'S COMPANY FINISHED HERE */

/* PROJECT BRIEFING INFORMATION */
/* PROJECT BRIEFING INFORMATION */
/* PROJECT BRIEFING INFORMATION */
/* PROJECT BRIEFING INFORMATION */
/* PROJECT BRIEFING INFORMATION */

@media only screen and (max-width: 767px) {
  .about-title {
    font-size: 55px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 100px;
    margin-left: 350px;
    margin-right: -300px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .about {
    float: left;

    margin-top: 30px;
    margin-left: 250px;
  }

  .about2 {
    float: right;

    margin-top: 30px;
    margin-left: 750px;
    margin-right: -500px;
  }
}

/* Above is "ABOUT THE PROJECT" section */
/* Above is "ABOUT THE PROJECT" section */
/* Above is "ABOUT THE PROJECT" section */
/* Above is "ABOUT THE PROJECT" section */
/* Above is "ABOUT THE PROJECT" section */

.newdistance {
  margin-top: 300px;
}

@media only screen and (max-width: 767px) {
  .span1 {
    color: black;
    text-decoration: none;

    margin-top: -20px;
    margin-left: 500px;
    margin-right: -150px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .project-title {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 350px;
    margin-right: -300px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .project-description {
    font-size: x-large;
    max-width: 700px;

    margin-left: 350px;
    margin-right: -400px;
  }
}

/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */

@media only screen and (max-width: 767px) {
  .assumption {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 250px;
    margin-right: -450px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .assumption_exp {
    font-size: x-large;
    max-width: 700px;

    margin-left: 450px;
    margin-right: -400px;
  }
}

@media only screen and (max-width: 767px) {
  .designers {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 400px;
    margin-right: -300px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .team_description {
    font-size: x-large;
    max-width: 700px;

    margin-left: 340px;
    margin-right: -400px;
  }
}

@media only screen and (max-width: 767px) {
  .assumptions_team {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 350px;
    margin-right: -350px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .assumption_intro {
    font-size: small;
    max-width: 700px;

    margin-left: 340px;
    margin-right: -400px;
  }
}

/* TALKING ABOUT ASSUMPTIONS - TEAM */
/* TALKING ABOUT ASSUMPTIONS - TEAM */
/* TALKING ABOUT ASSUMPTIONS - TEAM */
/* TALKING ABOUT ASSUMPTIONS - TEAM */
/* TALKING ABOUT ASSUMPTIONS - TEAM */

/* Video-Conference Session - Navigation */
/* Video-Conference Session - Navigation */
/* Video-Conference Session - Navigation */

@media only screen and (max-width: 767px) {
  .vid_nav_session {
    font-size: 40px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 450px;
    margin-right: -300px;
    margin-bottom: 30px;
  }

  .span1_1 {
    color: black;
    text-decoration: none;

    margin-top: -20px;
    margin-left: 20px;
    margin-bottom: 50px;
  }
}

/* Login Process - Two-Step Login Process */
/* Login Process - Two-Step Login Process */
/* Login Process - Two-Step Login Process */
@media only screen and (max-width: 767px) {
  .loginprocess {
    font-size: 40px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 700px;
    margin-left: 520px;
    margin-right: -300px;
    margin-bottom: 30px;
  }
}

/* Main Navigation - Menu names */
/* Main Navigation - Menu names */
/* Main Navigation - Menu names */
@media only screen and (max-width: 767px) {
  .main_nav {
    font-size: 40px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 600px;
    margin-left: 500px;
    margin-right: -300px;
    margin-bottom: 30px;
  }
}

/* History - Missing Important Information */
/* History - Missing Important Information */
/* History - Missing Important Information */
@media only screen and (max-width: 767px) {
  .history {
    font-size: 40px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 700px;
    margin-left: 320px;
    margin-right: -300px;
    margin-bottom: 30px;
  }
}

/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */
/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */
/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */
/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */
/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */

@media only screen and (max-width: 767px) {
  .task-done {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 300px;
    margin-right: -350px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .task-done-description {
    font-size: x-large;
    max-width: 700px;

    margin-left: 360px;
    margin-right: -400px;
  }
}

@media only screen and (max-width: 767px) {
  .thegoal {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 300px;
    margin-right: -350px;
    margin-bottom: 30px;
  }
}

/* "ABOUT THE PROJECT" secion finishes here */
/* "ABOUT THE PROJECT" secion finishes here */
/* "ABOUT THE PROJECT" secion finishes here */
/* "ABOUT THE PROJECT" secion finishes here */
/* "ABOUT THE PROJECT" secion finishes here */

/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */

@media only screen and (max-width: 767px) {
  .overview {
    font-size: 65px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 100px;
    margin-left: 200px;
    margin-right: -500px;
    margin-bottom: 50px;
  }
}

/* OVERVIEW -- Original Version Finished */
/* OVERVIEW -- Original Version Finished */
/* OVERVIEW -- Original Version Finished */
/* OVERVIEW -- Original Version Finished */
/* OVERVIEW -- Original Version Finished */

/* OVERVIEW - New Version INTRO */
/* OVERVIEW - New Version INTRO */
/* OVERVIEW - New Version INTRO */
/* OVERVIEW - New Version INTRO */
/* OVERVIEW - New Version INTRO */

@media only screen and (max-width: 767px) {
  .change {
    font-weight: 600;
    font-size: 20px;

    margin-top: 60px;
    margin-left: 950px;
    margin-right: -600px;
  }
}

/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */

/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */

@media only screen and (max-width: 767px) {
  .designprocess {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 300px;
    margin-right: -350px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .understand {
    font-size: 25px;
    font-weight: 600;

    max-width: 660px;

    margin-left: 600px;
    margin-right: -100px;
  }
}

@media only screen and (max-width: 767px) {
  .research {
    font-weight: 600;
    font-size: x-large;

    margin-left: 360px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .understand-desc {
    font-size: x-large;
    width: 500px;

    margin-left: 360px;
    margin-right: -400px;
  }
}

/* CONDUCTING RESEARCH PHASE */
/* CONDUCTING RESEARCH PHASE */
/* CONDUCTING RESEARCH PHASE */
/* CONDUCTING RESEARCH PHASE */
/* CONDUCTING RESEARCH PHASE */

@media only screen and (max-width: 767px) {
  .affinitydescription {
    margin-top: 80px;
    margin-left: 450px;
    margin-right: -200px;
    margin-bottom: 20px;
  }
}

/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */

@media only screen and (max-width: 767px) {
  .problem-brief {
    font-size: 50px;
    color: red;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 300px;
    margin-right: -350px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .problem-description {
    font-size: x-large;
    width: 700px;

    margin-left: 360px;
    margin-right: -400px;
  }
}

@media only screen and (max-width: 767px) {
  .lessons {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 300px;
    margin-right: -350px;
    margin-bottom: 70px;
  }
}

/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */

@media only screen and (max-width: 767px) {
  .previous-btn {
    background-color: transparent;

    float: left;
    position: relative;

    margin-left: -20px;
  }

  .book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;

    margin-left: 250px;
    margin-right: -300px;
    margin-bottom: 80px;
  }

  .next-button {
    background-color: transparent;

    margin-right: -280px;
  }
}

/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */

/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */

@media only screen and (max-width: 767px) {
  .nextstep {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 310px;
    margin-right: -350px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .discovery2 {
    font-size: x-large;
    width: 700px;

    margin-left: 360px;
    margin-right: -400px;
  }
}

@media only screen and (max-width: 767px) {
  .nextstep_reflections {
    font-size: x-large;
    width: 700px;

    margin-left: 360px;
    margin-right: -400px;
  }
}

/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */

@media only screen and (max-width: 767px) {
  .bolddesign {
    font-size: 25px;
    font-weight: 600;

    max-width: 660px;

    margin-left: 600px;
    margin-right: -100px;
  }
}

@media only screen and (max-width: 767px) {
  .bold {
    font-weight: 700;
    font-size: x-large;

    margin-left: 370px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .bolddescription {
    font-size: x-large;
    width: 700px;

    margin-left: 370px;
    margin-right: -400px;
  }

  .bolddescription2 {
    font-size: x-large;
    width: 700px;

    margin-left: 370px;
    margin-right: -400px;
  }

  .spacing {
    font-size: x-large;
    width: 700px;

    margin-left: 370px;
    margin-right: -400px;
  }
}

/* Design Guide for Logos */
/* Design Guide for Logos */
/* Design Guide for Logos */

/* Add some padding inside the card container */
@media only screen and (max-width: 767px) {
  .design-guide1 {
    font-weight: 300;

    margin-left: 300px;
  }
}

/* Design Guide for Buttons */
/* Design Guide for Buttons */
/* Design Guide for Buttons */

/* Add some padding inside the card container */
@media only screen and (max-width: 767px) {
  .design-buttons1 {
    font-weight: 300;

    margin-left: 200px;
  }
}

/* Design Guide for Colours */
/* Design Guide for Colours */
/* Design Guide for Colours */

/* Add some padding inside the card container */
@media only screen and (max-width: 767px) {
  .colour1 {
    font-weight: 300;

    margin-top: 50px;
    margin-left: 550px;
  }
}

@media only screen and (max-width: 767px) {
  .conClusion {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 310px;
    margin-right: -350px;
    margin-bottom: 30px;
  }

  .conClusion_description {
    font-size: x-large;
    width: 700px;

    margin-left: 370px;
    margin-right: -400px;
  }
}

/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */

@media only screen and (max-width: 767px) {
  .usertesting {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 310px;
    margin-right: -350px;
    margin-bottom: 30px;
  }

  .usertestingdesc {
    font-size: x-large;
    width: 700px;

    margin-left: 370px;
    margin-right: -400px;
  }
}

/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */

@media only screen and (max-width: 767px) {
  .reflection {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 310px;
    margin-right: -350px;
    margin-bottom: 30px;
  }

  .reflect {
    font-size: x-large;
    width: 700px;

    margin-left: 370px;
    margin-right: -400px;
  }
}

/* FINAL SECTION BEGINS HERE */
/* FINAL SECTION BEGINS HERE */

@media only screen and (max-width: 767px) {
  .final {
    font-size: 55px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 100px;
    margin-left: 350px;
    margin-right: -300px;
    margin-bottom: 50px;
  }

  .finaltag {
    font-size: 22px;
    font-weight: 600;

    margin-top: 100px;
    margin-left: 600px;
    margin-right: -450px;
  }

  .prototype {
    font-size: 22px;
    color: #65a765;

    margin-top: 50px;
    margin-left: 550px;
    margin-right: -100px;
    margin-bottom: 30px;
  }
}

/* FINAL PRODUCT VIDEO TEASER */
/* FINAL PRODUCT VIDEO TEASER */
/* FINAL PRODUCT VIDEO TEASER */

@media only screen and (max-width: 767px) {
  .finalteaser {
    color: #65a765;
    font-size: 22px;

    width: 800px;

    margin-top: 70px;
    margin-left: 130px;
    margin-right: -150px;
    margin-bottom: 30px;
  }
}

/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */

@media only screen and (max-width: 767px) {
  .finalnote {
    font-size: 55px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 100px;
    margin-left: 350px;
    margin-right: -300px;
    margin-bottom: 50px;
  }

  .finalnote_points {
    font-size: x-large;
    width: 700px;

    margin-left: 370px;
    margin-right: -400px;
  }
}

/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */

@media only screen and (max-width: 767px) {
  .home {
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #feca6e;

    padding: 2px;

    margin-left: 370px;
  }

  .centerbtn {
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #feca6e;
    width: 120px;

    position: absolute;

    padding: 2px;

    margin-left: 180px;
  }

  .contacts {
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #feca6e;

    position: absolute;

    padding: 2px;

    margin-left: 480px;
  }
}

/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */

@media only screen and (max-width: 767px) {
  .name {
    font-weight: 700;
    position: relative;

    margin-top: 130px;
    margin-left: 550px;
    margin-right: -100px;
  }

  .names {
    font-weight: 700;
    position: relative;

    margin-left: 550px;
    margin-right: -100px;
  }

  .name-s {
    color: blue;
    position: relative;

    font-weight: 700;

    margin-left: 350px;
    margin-right: -300px;
  }
}
