/* Navigation */
* {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}

body {
  font-family: Roboto, sans-serif;
}

img.logo {
  border: 0px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 50px;
  height: 50px;
}

/* RESPONSIVE DESIGN FOR TABLET */

@media only screen and (max-width: 991px) {
  .topnav {
    float: right;
    font-size: 22px;

    padding-top: 40px;
    margin-right: -400px;
  }
}

@media only screen and (max-width: 991px) {
  .intro_dec {
    font-size: 65px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 100px;
    margin-left: 450px;
    margin-bottom: 50px;
  }
}

/* Prologue */
/* Prologue */
/* Prologue */

@media only screen and (max-width: 991px) {
  .prologuedescription {
    font-size: x-large;
    max-width: 1100px;

    margin-left: 380px;
    margin-right: -140px;
  }
}

@media only screen and (max-width: 991px) {
  .prologuespan2 {
    margin-left: 830px;
    margin-right: -300px;
    margin-bottom: 200px;
  }
}

/* PROLOGUE FINISHED FROM HERE */
/* PROLOGUE FINISHED FROM HERE */
/* PROLOGUE FINISHED FROM HERE */
/* PROLOGUE FINISHED FROM HERE */
/* PROLOGUE FINISHED FROM HERE */

/* INTRODUCTION OF CLIENT'S COMPANY */
/* INTRODUCTION OF CLIENT'S COMPANY */
/* INTRODUCTION OF CLIENT'S COMPANY */
/* INTRODUCTION OF CLIENT'S COMPANY */
/* INTRODUCTION OF CLIENT'S COMPANY */

@media only screen and (max-width: 991px) {
  .televu {
    font-size: 55px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 100px;
    margin-left: 300px;
    margin-right: -100px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .televu_intro {
    font-size: 22px;

    max-width: 700px;

    margin-left: 350px;
    margin-right: -100px;
  }
}

@media only screen and (max-width: 991px) {
  .televuintrospan {
    position: absolute;

    margin-top: -1px;
    margin-right: -300px;
  }
}

@media only screen and (max-width: 991px) {
  .televuintroimg {
    margin-left: 330px;
  }
}

@media only screen and (max-width: 991px) {
  .televuintrospan2 {
    position: absolute;

    margin-top: -0.0000000000001px;
    margin-right: -500px;
  }
}

/* USED CASE 1 - Emergency Response Team */
/* USED CASE 1 - Emergency Response Team */
/* USED CASE 1 - Emergency Response Team */

@media only screen and (max-width: 991px) {
  .introquote {
    font-size: 35px;
    max-width: 1000px;

    margin-top: 150px;
    margin-left: 300px;
    margin-right: -100px;
  }
}

/* INTRODUCTION OF CLIENT'S COMPANY FINISHED HERE */
/* INTRODUCTION OF CLIENT'S COMPANY FINISHED HERE */
/* INTRODUCTION OF CLIENT'S COMPANY FINISHED HERE */
/* INTRODUCTION OF CLIENT'S COMPANY FINISHED HERE */
/* INTRODUCTION OF CLIENT'S COMPANY FINISHED HERE */

/* PROJECT BRIEFING INFORMATION */
/* PROJECT BRIEFING INFORMATION */
/* PROJECT BRIEFING INFORMATION */
/* PROJECT BRIEFING INFORMATION */
/* PROJECT BRIEFING INFORMATION */

@media only screen and (max-width: 991px) {
  .about-title {
    font-size: 55px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 250px;
    margin-left: 300px;
    margin-right: -100px;
  }

  .about {
    float: left;
    margin-left: 150px;
    margin-top: 80px;
  }

  .about2 {
    position: absolute;

    margin-top: 80px;
    margin-left: 750px;
    margin-right: -200px;
    margin-bottom: 100px;
  }
}

/* INFORMATION ABOUT THE PROJECT JOURNEY */
/* INFORMATION ABOUT THE PROJECT JOURNEY */
/* INFORMATION ABOUT THE PROJECT JOURNEY */
/* INFORMATION ABOUT THE PROJECT JOURNEY */
/* INFORMATION ABOUT THE PROJECT JOURNEY */

@media only screen and (max-width: 991px) {
  .span1 {
    color: black;
    text-decoration: none;

    margin-top: -20px;
    margin-left: 350px;
    margin-bottom: 50px;
  }
}

/* SECTION FOR PROJECT OUTLINE & DESCRIPTION */
/* SECTION FOR PROJECT OUTLINE & DESCRIPTION */
/* SECTION FOR PROJECT OUTLINE & DESCRIPTION */
/* SECTION FOR PROJECT OUTLINE & DESCRIPTION */
/* SECTION FOR PROJECT OUTLINE & DESCRIPTION */

@media only screen and (max-width: 991px) {
  .project-title {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 350px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .project-description {
    font-size: 22px;

    max-width: 700px;

    margin-top: 30px;
    margin-left: 340px;
    margin-right: -80px;
    margin-bottom: 70px;
  }
}

/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */

@media only screen and (max-width: 991px) {
  .assumption {
    font-size: 45px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 300px;
    margin-right: -100px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .designers {
    font-size: 45px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 280px;
    margin-right: -100px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .team_description {
    font-size: 22px;

    max-width: 660px;

    margin-top: 30px;
    margin-left: 340px;
    margin-right: -80px;
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 991px) {
  .assumptions_team {
    font-size: 45px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 370px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .assumption_intro {
    font-size: 22px;

    max-width: 660px;

    margin-top: 30px;
    margin-left: 350px;
    margin-right: -80px;
    margin-bottom: 70px;
  }
}

/* TALKING ABOUT ASSUMPTIONS - TEAM */
/* TALKING ABOUT ASSUMPTIONS - TEAM */
/* TALKING ABOUT ASSUMPTIONS - TEAM */
/* TALKING ABOUT ASSUMPTIONS - TEAM */
/* TALKING ABOUT ASSUMPTIONS - TEAM */

/* Video-Conference Session - Navigation */
/* Video-Conference Session - Navigation */
/* Video-Conference Session - Navigation */

@media only screen and (max-width: 991px) {
  .vid_nav_session {
    font-size: 40px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 450px;
    margin-right: -100px;
    margin-bottom: 30px;
  }
}

/* History - Missing Important Information */
/* History - Missing Important Information */
/* History - Missing Important Information */

@media only screen and (max-width: 991px) {
  .history {
    font-size: 40px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 700px;
    margin-left: 400px;
    margin-bottom: 30px;
  }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

@media only screen and (max-width: 991px) {
  .flip-card10 {
    background-color: transparent;
    width: 380px;
    height: 500px;

    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */

    margin-left: 470px;
  }
}

/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */
/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */
/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */
/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */
/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */

@media only screen and (max-width: 991px) {
  .task-done {
    color: #65a765;
    font-size: 40px;

    margin-left: 450px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .task-done-description {
    font-size: 22px;
    max-width: 700px;

    margin-top: 30px;
    margin-left: 350px;
    margin-right: -120px;
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 991px) {
  .thegoal {
    color: #65a765;
    font-size: 40px;

    margin-left: 450px;
    margin-bottom: 30px;
  }
}

/* "ABOUT THE PROJECT" secion finishes here */
/* "ABOUT THE PROJECT" secion finishes here */
/* "ABOUT THE PROJECT" secion finishes here */
/* "ABOUT THE PROJECT" secion finishes here */
/* "ABOUT THE PROJECT" secion finishes here */

/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */

@media only screen and (max-width: 991px) {
  .overview {
    font-size: 65px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 100px;
    margin-left: 300px;
    margin-right: -150px;
    margin-bottom: 50px;
  }
}

/* OVERVIEW -- Original Version Finished */
/* OVERVIEW -- Original Version Finished */
/* OVERVIEW -- Original Version Finished */
/* OVERVIEW -- Original Version Finished */
/* OVERVIEW -- Original Version Finished */

/* OVERVIEW - New Version INTRO */
/* OVERVIEW - New Version INTRO */
/* OVERVIEW - New Version INTRO */
/* OVERVIEW - New Version INTRO */
/* OVERVIEW - New Version INTRO */

@media only screen and (max-width: 991px) {
  .change {
    font-weight: 600;
    font-size: 20px;

    margin-top: 60px;
    margin-right: -350px;
  }
}

@media only screen and (max-width: 991px) {
  .redesigned-vid-conference-description {
    margin-left: -10px;
    margin-right: -20px;
  }
}

/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */

/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */

@media only screen and (max-width: 991px) {
  .designprocess {
    color: #65a765;

    font-size: 45px;

    margin-left: 450px;
    margin-bottom: 30px;
  }
}

/* The Design Process >> Understand phase (Miro) */
/* The Design Process >> Understand phase (Miro) */
/* The Design Process >> Understand phase (Miro) */
/* The Design Process >> Understand phase (Miro) */

/* Add some padding inside the card container */
@media only screen and (max-width: 991px) {
  .miro1 {
    font-weight: 300;

    margin-left: 330px;
    margin-right: -10px;
    margin-bottom: 30px;
  }
}

/* Affinity Map */
/* Affinity Map */
/* Affinity Map */

@media only screen and (max-width: 991px) {
  .affinitydescription {
    margin-top: 80px;
    margin-left: 420px;
    margin-bottom: 20px;
  }
}

/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */

@media only screen and (max-width: 991px) {
  .problem-brief {
    color: red;
    font-size: 40px;

    margin-left: 350px;
    margin-right: -100px;
  }
}

@media only screen and (max-width: 991px) {
  .lessons {
    font-size: 40px;
    color: #65a765;

    margin-top: 70px;
    margin-left: 350px;
    margin-right: -100px;
    margin-bottom: 30px;
  }
}

/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */

@media only screen and (max-width: 991px) {
  .book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;

    margin-left: 200px;
    margin-right: -100px;
  }
}

@media only screen and (max-width: 991px) {
  .previous-btn {
    margin-left: 40px;
    margin-right: -220px;
  }

  .next-button {
    background-color: transparent;

    position: absolute;

    margin-left: 730px;
  }
}

/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */

/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */

@media only screen and (max-width: 991px) {
  .nextstep {
    font-size: 40px;
    color: #65a765;

    margin-top: 100px;
    margin-left: 350px;
    margin-right: -100px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .discovery2 {
    font-size: 22px;
    width: 750px;

    margin-left: 370px;
    margin-right: -100px;
  }
}

/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */

@media only screen and (max-width: 991px) {
  .bolddesign {
    font-weight: 700;
    font-size: 25px;

    margin-top: 150px;
    margin-left: 350px;
    margin-right: -100px;
  }
}

@media only screen and (max-width: 991px) {
  .final {
    font-size: 55px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 100px;
    margin-left: 340px;
    margin-right: -100px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .finaltag {
    font-size: 22px;
    font-weight: 600;

    margin-top: 100px;
    margin-right: -200px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 991px) {
  .prototype {
    color: #65a765;
    font-size: 22px;

    margin-top: 50px;
    margin-left: 450px;
    margin-right: -100ox;
    margin-bottom: 30px;
  }
}

/* FINAL PRODUCT VIDEO TEASER */
/* FINAL PRODUCT VIDEO TEASER */
/* FINAL PRODUCT VIDEO TEASER */

@media only screen and (max-width: 991px) {
  .finalteaser {
    color: #65a765;
    font-size: 22px;

    margin-top: 70px;
    margin-left: 350px;
    margin-right: -100px;
    margin-bottom: 30px;
  }
}

/* CONCLUSION OF THE PROJECT */
/* CONCLUSION OF THE PROJECT */
/* CONCLUSION OF THE PROJECT */
/* CONCLUSION OF THE PROJECT */
/* CONCLUSION OF THE PROJECT */

@media only screen and (max-width: 991px) {
  .conClusion {
    font-size: 40px;
    color: #65a765;

    margin-top: 100px;
    margin-left: 350px;
    margin-right: -100px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .conClusion_description {
    font-size: 22px;

    width: 660px;

    margin-top: 30px;
    margin-left: 370px;
    margin-right: -80px;
    margin-bottom: 70px;
  }
}

/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */

@media only screen and (max-width: 991px) {
  .usertesting {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 350px;
    margin-right: -100px;
    margin-bottom: 30px;
  }
}

/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */

@media only screen and (max-width: 991px) {
  .reflection {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 350px;
    margin-right: -100px;
    margin-bottom: 30px;
  }
}

/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */

@media only screen and (max-width: 991px) {
  .finalnote {
    font-size: 50px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(31, 214, 85, 1),
      rgba(31, 214, 85, 0.8)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 350px;
    margin-right: -100px;
    margin-bottom: 30px;
  }
}

/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */

@media only screen and (max-width: 991px) {
  .contacts {
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #feca6e;
    width: 90px;

    position: absolute;

    padding: 2px;

    margin-left: 180px;
  }
}

/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */
@media only screen and (max-width: 991px) {
  .ending {
    width: 1500px;
    height: 220px;

    position: absolute;

    margin-left: -100px;
    margin-top: -55px;
    opacity: 0.8;
    z-index: 1000px;
  }

  .name {
    font-weight: 700;
    position: relative;

    margin-top: 130px;
    margin-left: 350px;
    margin-right: -100px;
  }

  .names {
    position: relative;
    font-weight: 700;

    margin-left: 350px;
    margin-right: -100px;
  }

  .name-s {
    position: relative;

    font-weight: 700;
    color: blue;

    margin-left: 350px;
    margin-right: -100px;
  }
}
