/* Navigation */
* {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}

body {
  font-family: Roboto, sans-serif;
}

img.logo {
  border: 0px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 50px;
  height: 50px;
}

/* RESPONSIVE DESIGN FOR DESKTOP PC / LAPTOP */
@media only screen and (max-width: 1280px) {
  .topnav {
    float: right;
    font-size: 22px;

    padding-top: 40px;

    margin-right: -130px;
  }
}

/* Introduction */
/* Introduction */
/* Introduction */
/* Introduction */
/* Introduction */

@media only screen and (max-width: 1280px) {
  .introduction {
    position: relative;
  }

  .prologuedescription {
    font-size: x-large;

    margin-left: 400px;
    max-width: 700px;
  }

  .intro_dec {
    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 50px;

    font-size: 65px;
  }
}

@media only screen and (max-width: 1280px) {
  .televu {
    font-size: 55px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 100px;
    margin-left: 190px;
    margin-bottom: 50px;
  }

  .televu_intro {
    font-size: 22px;

    max-width: 660px;

    margin-left: 400px;
  }

  .televuintrospan {
    width: 800px;

    margin-left: 100px;
  }

  .televuintroimg {
    margin-left: 380px;
  }

  .televusmartglass {
    margin-left: 400px;
  }
}

/* TELEVU - TRUE USED CASES */
/* TELEVU - TRUE USED CASES */
/* TELEVU - TRUE USED CASES */
/* TELEVU - TRUE USED CASES */
/* TELEVU - TRUE USED CASES */

@media only screen and (max-width: 1280px) {
  .introquote {
    text-align: center;
    font-size: 35px;

    margin-top: 150px;
  }
}

@media only screen and (max-width: 1280px) {
  .ERT1-1 {
    font-size: large;

    margin-left: 160px;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 1280px) {
  .ERT_picture {
    width: 260px;
    height: 280px;
    border-radius: 15px;

    margin-left: 40px;
  }
}

@media only screen and (max-width: 1280px) {
  .ERT1-exp {
    font-weight: 300;
    width: 300px;

    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 10px;

    margin-left: 10px;
  }
}

@media only screen and (max-width: 1280) {
  .rehab1-1 {
    font-size: larger;

    padding-left: 30px;
    padding-right: 20px;
    margin-left: 180px;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 1280px) {
  .surgery3-1 {
    width: 205px;
    font-size: larger;

    margin-left: 190px;
    margin-right: -15px;
    margin-bottom: 30px;
  }
}

/* INTRODUCING THE OVERVIEW OF THE PROJECT JOURNEY */
/* INTRODUCING THE OVERVIEW OF THE PROJECT JOURNEY */
/* INTRODUCING THE OVERVIEW OF THE PROJECT JOURNEY */
/* INTRODUCING THE OVERVIEW OF THE PROJECT JOURNEY */
/* INTRODUCING THE OVERVIEW OF THE PROJECT JOURNEY */

@media only screen and (max-width: 1280px) {
  .about-title {
    font-size: 55px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 250px;
    margin-left: 150px;
  }
}

@media only screen and (max-width: 1280px) {
  .journeyimage {
    width: 800px;
    height: auto;

    margin-top: 30px;
    margin-left: 250px;
  }

  .span1 {
    color: black;
    text-decoration: none;

    margin-top: -20px;
    margin-left: 200px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1280px) {
  .project-title {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 100px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1280px) {
  .project-description {
    font-size: 22px;

    max-width: 660px;

    margin-top: 30px;
    margin-left: 380px;
    margin-bottom: 70px;
  }
}

/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */

@media only screen and (max-width: 1280px) {
  .assumption {
    font-size: 45px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 100px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1280px) {
  .assumptions_team {
    font-size: 45px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 800px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1280px) {
  .designers {
    font-size: 45px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 100px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1280px) {
  .team_description {
    font-size: 22px;

    max-width: 660px;

    margin-top: 30px;
    margin-left: 360px;
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 1280px) {
  .assumptions_team {
    font-size: 45px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 100px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1280px) {
  .assumption_intro {
    font-size: 22px;

    max-width: 660px;

    margin-top: 30px;
    margin-left: 380px;
    margin-bottom: 70px;
  }
}

/* FLIP CARD SECTION */
/* FLIP CARD SECTION */
/* FLIP CARD SECTION */
/* FLIP CARD SECTION */
/* FLIP CARD SECTION */

/* Video-Conference Session - Navigation */
/* Video-Conference Session - Navigation */
/* Video-Conference Session - Navigation */

@media only screen and (max-width: 1280px) {
  .span1 {
    font-weight: 900;
    font-size: 15px;

    margin-left: 20px;
  }
}

/* Video-Conference Session - Interactivity*/
/* Video-Conference Session - Interactivity*/
/* Video-Conference Session - Interactivity*/

@media only screen and (max-width: 1280px) {
  .span3 {
    color: black;
    font-weight: 900;

    margin-left: 100px;
  }
}

/* History - Missing Important Information */
/* History - Missing Important Information */
/* History - Missing Important Information */

@media only screen and (max-width: 1280px) {
  .history {
    font-size: 40px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 700px;
    margin-left: 100px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1280px) {
  .flip-card10 {
    background-color: transparent;
    width: 380px;
    height: 500px;

    margin-left: 460px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
}

/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */
/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */
/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */
/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */
/* TALKING ABOUT ASSUMPTIONS - TEAM FINISHED */

@media only screen and (max-width: 1280px) {
  .task-done {
    color: #65a765;
    font-size: 40px;

    margin-left: 100px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1280px) {
  .thegoal {
    color: #65a765;
    font-size: 40px;

    margin-left: 100px;
    margin-bottom: 30px;
  }
}

/* "ABOUT THE PROJECT" secion finishes here */
/* "ABOUT THE PROJECT" secion finishes here */
/* "ABOUT THE PROJECT" secion finishes here */
/* "ABOUT THE PROJECT" secion finishes here */
/* "ABOUT THE PROJECT" secion finishes here */

/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */

@media only screen and (max-width: 1280px) {
  .overview {
    font-size: 65px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 250px;
    margin-left: 130px;
  }
}

@media only screen and (max-width: 1280px) {
  .change {
    font-weight: 600;
    font-size: 20px;

    margin-top: 60px;
    margin-right: -100px;
  }
}

/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */

/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */

@media only screen and (max-width: 1280px) {
  .designprocess {
    color: #65a765;
    font-size: 45px;

    margin-left: 225px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1280px) {
  .understand {
    font-size: 25px;
    font-weight: 600;

    max-width: 660px;
    margin-left: 600px;
  }
}

@media only screen and (max-width: 1280px) {
  .research {
    font-weight: 600;
    font-size: 22px;

    margin-top: 30px;
    margin-left: 390px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1280px) {
  .understand-desc {
    font-size: 22px;
    width: 660px;

    margin-left: 390px;
  }
}

@media only screen and (max-width: 1280px) {
  .affinitydescription {
    margin-left: 130px;
  }
}

/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */

@media only screen and (max-width: 1280px) {
  .problem-brief {
    color: red;
    font-size: 40px;

    margin-left: 200px;
  }
}

@media only screen and (max-width: 1280px) {
  .problem-description {
    font-size: 22px;
    width: 660px;

    margin-left: 380px;
  }
}

@media only screen and (max-width: 1280px) {
  .lessons {
    font-size: 40px;
    color: #65a765;

    margin-top: 70px;
    margin-left: 170px;
    margin-bottom: 30px;
  }
}

/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */

@media only screen and (max-width: 1280px) {
  #booksetting {
    font-family: sans-serif;

    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -50px;
    margin-left: 200px;
  }
}

/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */

/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */

@media only screen and (max-width: 1280px) {
  .nextstep {
    font-size: 40px;
    color: #65a765;

    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 30px;
  }
}

/* User Persona + Journey Map */
/* User Persona + Journey Map */
/* User Persona + Journey Map */
/* User Persona + Journey Map */
/* User Persona + Journey Map */

@media only screen and (max-width: 1280px) {
  .userpersona {
    width: 550px;
    height: auto;

    position: absolute;
    margin-top: 50px;
    margin-left: 70px;
  }

  .journeymap {
    width: 550px;
    height: auto;

    position: absolute;

    margin-top: 50px;
    margin-left: 750px;
  }
}

@media only screen and (max-width: 1280px) {
  .discovery2 {
    margin-top: 0px;
    width: 680px;

    font-size: 22px;

    margin-left: 380px;
  }
}

/* User Persona + Journey Map DESCRIPTION */
/* User Persona + Journey Map DESCRIPTION */
/* User Persona + Journey Map DESCRIPTION */
/* User Persona + Journey Map DESCRIPTION */
/* User Persona + Journey Map DESCRIPTION */

@media only screen and (max-width: 1280px) {
  .nextstep_reflections {
    font-size: 22px;
    width: 660px;

    margin-top: 500px;
    margin-left: 360px;
  }
}

@media only screen and (max-width: 1280px) {
  .consideration {
    font-size: 22px;
    width: 660px;

    margin-left: 360px;
  }
}

/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */

@media only screen and (max-width: 1280px) {
  .bolddesign {
    font-weight: 700;
    font-size: 25px;

    margin-top: 150px;
    margin-left: 150px;
  }
}

/* FINAL */
/* FINAL */

@media only screen and (max-width: 1280px) {
  .final {
    font-size: 65px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 133, 255, 1),
      rgba(51, 255, 0, 1)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 250px;
    margin-left: 150px;
  }
}

@media only screen and (max-width: 1280px) {
  .prototype {
    color: #65a765;
    font-size: 22px;

    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1280px) {
  .imgsize {
    width: 850px;
    height: 550px;

    margin-top: 20px;
    margin-left: 250px;
  }
}

/* FINAL PRODUCT VIDEO TEASER */
/* FINAL PRODUCT VIDEO TEASER */
/* FINAL PRODUCT VIDEO TEASER */

.finalteaser {
  color: #65a765;
  font-size: 22px;

  margin-top: 70px;
  margin-left: 150px;
  margin-bottom: 30px;
}

/* CONCLUSION CONCLUSION CONCLUSION */
/* CONCLUSION CONCLUSION CONCLUSION */
/* CONCLUSION CONCLUSION CONCLUSION */
/* CONCLUSION CONCLUSION CONCLUSION */
/* CONCLUSION CONCLUSION CONCLUSION */

@media only screen and (max-width: 1280px) {
  .conClusion {
    font-size: 40px;
    color: #65a765;

    margin-top: -70px;
    margin-left: 150px;
    margin-bottom: 30px;
  }
}

/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */

@media only screen and (max-width: 1280px) {
  .usertesting {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 150px;
    margin-bottom: 30px;
  }
}

/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */

@media only screen and (max-width: 1280px) {
  .reflection {
    font-size: 50px;
    color: #65a765;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 150px;
    margin-bottom: 30px;
  }
}

/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */

@media only screen and (max-width: 1280px) {
  .finalnote {
    font-size: 50px;

    background-color: black;
    background-image: linear-gradient(
      -45deg,
      rgba(31, 214, 85, 1),
      rgba(31, 214, 85, 0.8)
    );
    background-size: 100%;
    background-repeat: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 150px;
    margin-bottom: 30px;
  }
}

/* THE CONCLUSION SECTION - THE BRANDING */
/* THE CONCLUSION SECTION - THE BRANDING */
/* THE CONCLUSION SECTION - THE BRANDING */
/* THE CONCLUSION SECTION - THE BRANDING */
/* THE CONCLUSION SECTION - THE BRANDING */

@media only screen and (max-width: 1280px) {
  .name {
    font-weight: 700;
    position: relative;

    margin-top: 130px;
    margin-left: 150px;
  }

  .names {
    font-weight: 700;
    position: relative;

    margin-left: 150px;
  }

  .name-s {
    position: relative;
    font-weight: 700;
    color: blue;

    margin-left: 150px;
  }
}
