/* GENERAL NAVIGATION */

* {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}

img.logo {
  border: 0px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 50px;
  height: 50px;
  float: left;
}

.topnav {
  font-size: 22px;

  position: absolute;

  padding-top: 30px;

  margin-left: 1100px;
  margin-right: -200px;
}

a.active {
  text-decoration: none;
  color: #95f9e3;
}

a.btn {
  text-decoration: none;
  color: black;
}

.btn:hover {
  color: aquamarine;
}

.btn:click::after {
  color: #b87fdb;
}

body {
  font-family: Roboto, sans-serif;
}

.background {
  width: 800px;
  height: 800px;
  margin-top: -120px;
  margin-left: -170px;
}

/* BACKGROUND INTRO IMAGE ANIMATION */
/* BACKGROUND INTRO IMAGE ANIMATION */
/* BACKGROUND INTRO IMAGE ANIMATION */
/* BACKGROUND INTRO IMAGE ANIMATION */
/* BACKGROUND INTRO IMAGE ANIMATION */

.fade-in-image {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#slider {
  width: auto;
  height: auto;
  transform: translateX(-80%);
  -webkit-transform: translateX(-80%);
}

.slide-in {
  animation: slide-in 1.5s forwards;
  -webkit-animation: slide-in 1.5s forwards;
}

.slide-out {
  animation: slide-out 1.5s forwards;
  -webkit-animation: slide-out 1.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-80%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-80%);
  }
}

/* HELLO INTRO DESCRIPTION */
/* HELLO INTRO DESCRIPTION */
/* HELLO INTRO DESCRIPTION */
/* HELLO INTRO DESCRIPTION */
/* HELLO INTRO DESCRIPTION */

#slider2 {
  width: auto;
  height: auto;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.slide-in2 {
  animation: slide-in 1.5s forwards;
  -webkit-animation: slide-in 1.5s forwards;
}

.slide-out2 {
  animation: slide-out 1.5s forwards;
  -webkit-animation: slide-out 1.5s forwards;
}

@keyframes slide-in2 {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in2 {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes slide-out2 {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}

/* INTRODUCTION OF THE SECTION */
/* INTRODUCTION OF THE SECTION */
/* INTRODUCTION OF THE SECTION */
/* INTRODUCTION OF THE SECTION */
/* INTRODUCTION OF THE SECTION */

.introduction {
  float: right;
  font-size: 30px;

  margin-top: -350px;
  margin-right: 150px;
}

.position {
  font-family: "Times New Roman", Times, serif;

  margin-left: -1px;
}

.subtitle {
  float: right;
  margin-right: 220px;
  margin-top: -190px;
}

/* SERVICE SECTION ON THE PAGE */
/* SERVICE SECTION ON THE PAGE */
/* SERVICE SECTION ON THE PAGE */
/* SERVICE SECTION ON THE PAGE */
/* SERVICE SECTION ON THE PAGE */

.service {
  font-size: 22px;
  font-weight: 300;
  width: 820px;

  margin-left: 300px;
  margin-top: 90px;
}

.spanservice {
  font-weight: 600;

  margin: -1px;
}

/* SERVICE SECTION ANIMATION ON THE PAGE */
/* SERVICE SECTION ANIMATION ON THE PAGE */
/* SERVICE SECTION ANIMATION ON THE PAGE */
/* SERVICE SECTION ANIMATION ON THE PAGE */
/* SERVICE SECTION ANIMATION ON THE PAGE */

#slider3 {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}

.slide-in3 {
  animation: slide-in 1.5s forwards;
  -webkit-animation: slide-in 1.5s forwards;
}

.slide-out3 {
  animation: slide-out 1.5s forwards;
  -webkit-animation: slide-out 1.5s forwards;
}

@keyframes slide-in3 {
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide-in3 {
  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes slide-out3 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

@-webkit-keyframes slide-out3 {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
  }
}

/* MAIN DESIGN INTRODUCTION ON THE PAGE */
/* MAIN DESIGN INTRODUCTION ON THE PAGE */
/* MAIN DESIGN INTRODUCTION ON THE PAGE */
/* MAIN DESIGN INTRODUCTION ON THE PAGE */
/* MAIN DESIGN INTRODUCTION ON THE PAGE */

.design {
  text-align: center;

  margin-top: 80px;
  margin-bottom: 30px;
}

.skillset {
  text-align: center;

  margin-top: 50px;
}

.web {
  margin-left: 180px;
  border-radius: 25px;
}

.mobile {
  margin-left: 400px;
}

.description1 {
  margin-left: 210px;
}

.description2 {
  margin-left: 400px;
}

.html5 {
  margin-left: 160px;
}

.css3 {
  margin-left: 180px;
}

.javascript {
  margin-left: 160px;
}

.html5_description {
  margin-left: 245px;
}

.css3_description {
  margin-left: 255px;
}

.javascript_description {
  margin-left: 240px;
}

.televu {
  width: 450px;
  height: 370px;

  float: left;
  border: 1px solid #d3d3d3;
  border-radius: 20px;

  margin-left: 150px;
}

.televu:hover {
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin-top: -20px;
}

.spotify {
  float: left;
  border: 1px solid #d3d3d3;
  border-radius: 20px;

  margin-left: 150px;
}

.spotify:hover {
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin-top: -20px;
}

.description3 {
  margin-left: 190px;
}

.description4 {
  margin-left: 240px;
}

/* THE PERSONAL WEBSITE ENDING SECTION */
/* THE PERSONAL WEBSITE ENDING SECTION */
/* THE PERSONAL WEBSITE ENDING SECTION */
/* THE PERSONAL WEBSITE ENDING SECTION */
/* THE PERSONAL WEBSITE ENDING SECTION */

.ending {
  width: 1500px;
  height: 220px;

  position: absolute;

  margin-left: -100px;
  margin-top: -55px;
  opacity: 0.8;
  z-index: 1000px;
}

.name {
  font-weight: 700;
  text-align: center;
  position: relative;

  margin-top: 130px;
}

.names {
  position: relative;
  text-align: center;
  font-weight: 700;
}

.name-s {
  position: relative;
  text-align: center;
  font-weight: 700;
  color: blue;
}
