body {
  margin: 50px;

  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;

  font-size: 60px;

  margin-top: 100px;
  margin-bottom: 100px;
}

h2 {
  text-align: center;

  margin-top: 50px;
  margin-bottom: 50px;
}

ol {
  box-sizing: border-box;
  border: 2px dotted lightgray;
  border-radius: 10px;

  padding: 20px 100px 80px 100px;
}

button {
  background-color: aliceblue;

  border: none;
  border-radius: 40px;

  padding: 10px;
}

button:hover {
  background-color: aquamarine;
}

a {
  text-decoration: none;
  color: black;
}

.conditions {
  margin-left: 100px;
}

.opening {
  width: 950px;
  height: auto;

  margin-top: -50px;
  margin-left: 200px;
}

.play {
  width: 950px;

  padding: 10px;

  margin-top: 30px;
  margin-left: 200px;

  cursor: pointer;
}
