.background {
  width: 1450px;
  height: 755px;

  z-index: -1000;

  padding: 0px;
  margin: -10px;
}

.identification {
  position: absolute;

  width: 500px;
  height: auto;

  margin-top: -650px;
  margin-left: 460px;
}

.lock {
  position: relative;
  width: 400px;
  height: auto;
  margin: 50px auto;
  background: #d9dee2;
  border-radius: 10px 10px 0 0;
  overflow: hidden;

  margin-top: -350px;
}

.lock-body {
  position: relative;
  width: 350px;
  height: auto;
  margin: 30px auto;
  background: #b6bec2;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

.unlocked {
  background-color: #8eff8a !important;
  animation: none !important;
}

/* CSS code for input box with correct password class */
.correct-password {
  border: 2px solid green;
}

p {
  padding: 30px 30px 10px 30px;
}

input {
  width: 250px;
  margin-left: 30px;
  margin-bottom: 30px;
}

button {
  border: none;

  text-decoration: none;
}

button:hover {
  background-color: aquamarine;
  cursor: pointer;
}
