/* Navbar styles */
.floating-menu {
  font-family: sans-serif;
  background: #add8e6;
  border-radius: 15px;

  width: 100px;
  height: fit-content;
  position: fixed;
  opacity: 1;
  z-index: 100;

  padding: 3px;

  margin-top: 100px;
  margin-left: -160px;
}

.floating-menu:hover {
  box-shadow: 0 5px 5px 5px rgba(173, 216, 230, 0.8);
  opacity: 1;
  transition-duration: 1s ease-in-out;

  margin-left: -42px;
}

.floating-menu a,
.floating-menu h3 {
  color: black;
  display: block;
  font-size: 15px;
  width: 140px;

  padding-block: 3px;
  margin: 0px;
}

.navigation {
  margin-left: 0px;
}

.linksize {
  width: fit-content;
  padding: 20px;
}

.linksize:hover {
  color: darkmagenta;
}

.logo {
  width: 47.61px;
  height: 54px;
}

/* For the entire document */
body {
  font-size: 15px;
  font-weight: 400;

  margin-top: 60px;
  margin-left: 71px;
  margin-right: 73px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 64px;

  margin-top: 185px;
  margin-left: 382px;
}

/* Project Overview - word*/
.original {
  margin-top: 72px;
  margin-left: 119px;
}

/* Project Overview - pictures */
.overview1 {
  width: 328px;
  height: 217px;

  margin-left: 119px;
  margin-bottom: 10px;
}

.close-btn {
  display: none;
}

.close-btn::after {
  position: absolute;
  content: "\00d7";

  cursor: pointer;
  margin-left: 330px;
}

.subtitle {
  margin-left: 220px;
}

.message {
  display: none;

  width: 900px;
}

.overview2 {
  position: absolute;

  width: 328px;
  height: 217px;

  margin-top: -250px;
  margin-left: 500px;
  margin-bottom: 10px;
}

.subtitle2 {
  position: absolute;
  margin-top: -20px;
  margin-left: 610px;
}

/* ====== EXPERIMENTAL BUTTON ======= */
.close-btn2 {
  display: none;
}

.close-btn2::after {
  position: absolute;
  content: "\00d7";

  cursor: pointer;
  margin-left: 330px;
}

/* ====== EXPERIMENTAL BUTTON ======= */

.overview3 {
  position: absolute;

  width: 328px;
  height: 217px;

  margin-top: -250px;
  margin-left: 880px;
  margin-bottom: 10px;
}

.subtitle3 {
  position: absolute;
  margin-top: -20px;
  margin-left: 980px;
}

/* ================= ENDING BANNER ============================ */

.banner {
  width: 1470px;
  height: 200px;

  margin-top: 50px;
  margin-left: -100px;
  margin-bottom: -30px;
}

.ending {
  position: absolute;
  text-align: center;

  margin-top: 90px;
  margin-left: 603px;
  margin-bottom: 30px;
}

.endin {
  position: absolute;
  text-align: center;

  margin-top: 120px;
  margin-left: 595px;
}

.end {
  position: absolute;
  text-align: center;

  margin-top: 150px;
  margin-left: 560px;
}

.End {
  position: absolute;
  color: blue;

  margin-top: 180px;
  margin-left: 480px;
}
